@model IEnumerable<CareTrackerV1.Models.Visit>

@{
    ViewBag.Title = "Index";
}

<h2 class="teal-text">Visit List</h2>

<div style="padding-bottom:1em">
    <button type="button" onclick="location.href='@Url.Action("Create", "Visit")'" class="btn btn-sm waves-effect waves-light teal lighten-1">Register new Care Giver</button>
</div>


<p>
    @Html.ActionLink("Create New", "Create")
</p>


    <table class="table-bordered">
        <thead style="background-color:lightgray">
            <tr style="text-decoration:double;">
            <tr>
                <th style="text-align:center">Date & Start Time am/pm</th>
                <th style="text-align:center">Date & End Time am/pm</th>
                <th style="text-align:center">Alert Type</th>
                <th style="text-align:center">Alert Details</th>
                <th style="text-align:center">CareGiver</th>
                <th style="text-align:center">Client</th>
                <th style="text-align:center">Selected Tasks</th>
                <th style="text-align:center">Other Task Details</th>
                <th></th>
            </tr>
          </thead>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AlertType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AlertDetails)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CareGiver.FirstName)
                        @Html.DisplayFor(modelItem => item.CareGiver.Surname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Client.FirstName)
                        @Html.DisplayFor(modelItem => item.Client.Surname)
                    </td>
                    <td>
                        @{
                            foreach (var visitTask in item.VisitTasks)
                            {
                                @:@visitTask.Description <br />
                }
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Details)
                    </td>

                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                    </td>
                </tr>
                            }

    </table>
